.workbook2-ideawall-page{
	position:relative;
	padding-top: 32pxi;
	@include bp(md){
		padding-top: 80pxi;
	}
}

.node-type-bold-ideas{
	.node-bold-ideas > div:nth-child(2){
		margin-top:0 !important
	}
	.title-background{
		display:none;
	}
	.share-links{
		width:150px;
		text-align:center;
		padding-left:0;
		display:block;
		margin:2rem auto 0;
	}
	.rate-widget-thumbs_up_custom .thumb-up{
		background:rgba(white,.5)
	}
	.workbook2-inpagenav{
		@include bp(md){
			@include absolute(-16pxi,-16pxi)
		}
	}
}

.ideawall{
	padding:10pxi;
	&-header{
		position:static;

		h2 {
	        margin-bottom: 1.5rem !important;
	        text-align: center;
	    }
	    .h2{
	    	&--vibrantandcreative {
	    	    color: $color-vibrantandcreative;
	    	}
	    	&--formandconnection {
	    	    color: $color-formandconnection;
	    	}
	    	&--housingandneighborhoods {
	    	    color: $color-housingandneighborhoods;
	    	}
	    	&--opportunityandprosperity {
	    	    color:$color-opportunityandprosperity;
	    	}
	    	&--servicesandfacilities {
	    	    color: $color-servicesandfacilities;
	    	}
	    	&--greenandresilient {
	    	    color:$color-greenandresilient;
	    	}
	    }
	    img {
	        display: block;
	        margin: 0 auto 2rem;
	    }
	}

	&-readmore{
		padding: 1rem;

		h3{
			text-align:center;
			font-size:20px;
		}
		.h3{
			&--vibrantandcreative {
			    color: $color-vibrantandcreative;
			}
			&--formandconnection {
			    color: $color-formandconnection;
			}
			&--housingandneighborhoods {
			    color: $color-housingandneighborhoods;
			}
			&--opportunityandprosperity {
			    color:$color-opportunityandprosperity;
			}
			&--servicesandfacilities {
			    color: $color-servicesandfacilities;
			}
			&--greenandresilient {
			    color:$color-greenandresilient;
			}
		}

		ul{
			text-align:center;
			list-style:none;
			margin:0 auto;
			width:80%;
			
			@include bp(md){
				list-style:disc;
				columns:2;
				text-align:left;
			}
			@include bp(lg){
				width:600px;
				margin:0 auto 1rem;
			}
		}

		&__button{
			font-family:inherit;
			padding:0;
			display:inline;
			background:transparent;
			font-size:inherit;
			border-bottom:dotted 1px;
			border-radius:0;			
			font-weight:700;

			&:hover{
				background:transparent;
				border-color:transparent;
			}

			&:active,
			&:focus{
				opacity:.8;
			}

			&--vibrantandcreative{
				color:$color-vibrantandcreative;
			}
			&--formandconnection{
				color:$color-formandconnection;
			}
			&--housingandneighborhoods{
				color:$color-housingandneighborhoods;
			}
			&--opportunityandprosperity{
				color:$color-opportunityandprosperity;
			}
			&--servicesandfacilities{
				color:$color-servicesandfacilities;
			}
			&--greenandresilient{
				color:$color-greenandresilient;
			}
		}

		&__info-container{
			button{
				font-size:1rem;
				display:block;
				margin:1rem auto .5rem;
			}
			p{
				margin: 0 0 1rem !important;
			}
		}
	}
	&-cta{
		margin:1rem auto 2rem !important;
		padding:1.5rem !important;
		border-radius:4px;

		@include bp(md){
			box-shadow:$box-shadow-card;
		}
			
		@include bp(lg){
			width:600px;
		}
		p{
			text-align:center !important;
			font-size:1rem;
			font-family:Quicksand,sans-serif !important;
			font-weight:700;
			padding-left:0 !important;

			&:not(:first-child){
				margin-top:1rem;
				display:block;
			}
			
			a{
				color:$color-purple;

				@include bp(md){
					color:#fff;
				}
			}
		}

		&--vibrantandcreative{
			@include bp(md){
				background:$color-vibrantandcreative;
			}
			p{
				color:$color-vibrantandcreative;
				
				@include bp(md){
					color:#fff;
				}
			}
		}
		&--formandconnection{
			@include bp(md){
				background:$color-formandconnection;
			}
			p{
				color:$color-formandconnection;
				
				@include bp(md){
					color:#fff;
				}
			}
		}
		&--housingandneighborhoods{
			@include bp(md){
				background:$color-housingandneighborhoods;
			}
			p{
				color:$color-housingandneighborhoods;
				
				@include bp(md){
					color:#fff;
				}
			}
		}
		&--opportunityandprosperity{
			@include bp(md){
				background:$color-opportunityandprosperity;
			}
			p{
				color:$color-opportunityandprosperity;
				
				@include bp(md){
					color:#fff;
				}
			}
		}
		&--servicesandfacilities{
			@include bp(md){
				background:$color-servicesandfacilities;
			}
			p{
				color:$color-servicesandfacilities;
				
				@include bp(md){
					color:#fff;
				}
			}
		}
		&--greenandresilient{
			@include bp(md){
				background:$color-greenandresilient;
			}
			p{
				color:$color-greenandresilient;
				
				@include bp(md){
					color:#fff;
				}
			}
		}
	}
}

// comment form
.node-type-bold-ideas{
	#comment-form{
		width:100%;
		padding:10pxi;

		@include bp(lg){
			max-width:600px;
			padding:0;
		}
	}

	//inputs
	.form-item-name,
	.form-item-mail{
		@media screen and(min-width:30em){
			width:calc(50% - .5rem)!important;
			margin-bottom:.5rem !important;
		}
		input{
			width:100%;
		}
	}

	.form-item-name{
		margin-right:1rem !important;
	}
	.form-item-mail{
		margin-right:0 !important;
	}
	.grippie{
		display:none;
	}
	
	// character counter
	#edit-comment-body-und-0-value-counter{
		text-align:right;
		margin-bottom:1rem;
	}

	//button
	#comment-form #edit-actions input{
		@include button--form;
		background:$color-green;
		font-size:1rem;
		transition: background-color.3s ease-in-out !important;

		&:hover{
			opacity:1;
		}

		@include bp(md){
			width:33.33334%;
		}
	}
	
	// sort actions
	form + .comment-links{
		font-family:Quicksand, sans-serif !important;
		font-weight:700;
		a{
			color:$color-green !important;
		}
	}
}


// idea wall comment colors
.node-type-bold-ideas {
	@include idea-wall-colors(115,$color-vibrantandcreative);
	@include idea-wall-colors(116,$color-formandconnection);
	@include idea-wall-colors(117,$color-housingandneighborhoods);
	@include idea-wall-colors(119,$color-opportunityandprosperity);
	@include idea-wall-colors(120,$color-servicesandfacilities);
	@include idea-wall-colors(118,$color-greenandresilient);
}