/* intro wrapper */
.workbook2-landing-page{
	margin-top:2rem;
	margin-bottom:-2.5rem;

	@include bp(md){
		margin-top:0;
		margin-bottom:-2rem;
	}
}

/* hero */
.page-node-108{
	.workbook2-hero{
		background: transparent url('https://images.unsplash.com/photo-1485331129317-1717811a2b75?dpr=2&auto=format&fit=crop&w=1500&h=827&q=80&cs=tinysrgb&crop=&bg=') no-repeat 100%;
		background-size: cover;
	}
}

/* intro descripion */
.landing-intro__header{
	h2{
		margin-bottom:1.5rem !important;
		text-align:center;
		color:$color-blue !important;

		@include bp(md){
			margin-bottom:3rem !important;
		}
	}
}

/* intro descripion */
.landing-intro__description{
	@include bp(md){
		background:$color-blue;
		padding:2rem;
		border-radius:4px;
		box-shadow:$box-shadow-card;
	}
	@include bp(lg){
		max-width:600px;
		margin-left:auto;
		margin-right:auto
	}

	p{
		text-align:justify;

		@include bp(md){
			color:rgba(white,.85);
			margin:0 auto 1rem;
		}
		
		// cta
		&.landing-intro__instructions{
			font-size:1rem;
			text-align:center;
			color:$color-blue;
			font-family:Quicksand,sans-serif;
			font-weight:700;
			margin:1.5rem 0;

			@include bp(md){
				color:#fff;
				margin:2rem 0 0;
			}
		}
	}
}

/* form */
.webform-client-form-113{
	
	// upper wrapper
	.webform-component{
		box-sizing:border-box;
		margin:0 0 2rem;

		&:hover{
			@include bp(md){
				box-shadow: $box-shadow-card;
				transition: .3s ease-in-out box-shadow;
			}
		}

		@include bp(lg){
			min-height:220px;
			float:left;
			width:calc(50% - 2rem);
			margin:0 1rem 2rem;
			padding:1.5rem;
			border-radius:4px;
			background:#f8f8f8;;
		}

		// title labels
		> label{
			color: $color-green;
			text-align:center;
			font-size:1rem;

			@include bp(md){
				text-align:left;
				margin-bottom:1.5rem;
			}
			@include bp(lg){
				position:relative;
				margin:-1.5rem -1.5rem 1.5rem;
				background:$color-green;
				color:#fff;
				border-radius:4px 4px 0 0;
				padding:10px 10px 10px 50px;
				min-height:67px;
			}
			
			// icon
			&::before{
				@include bp(lg){
					content:"";
					@include absolute(10px,10px);
					height:30px;
					width:30px;
					background:white;
					border-radius:50%;
				}
			}
		}

		// text inputs
		.form-text{
			width:100%;
		}

		// age question
		&.webform-component--what-is-your-age{
			input{
				background:#ddd;
			}
		}

	}
	// submit button (no wrapper)
	.form-actions{
		text-align:center;
		margin:0 auto;
		clear:both;

		input[type="submit"]{
			@include button--form;
			font-size:1rem;
			margin:0 auto;
			float:none;

			@include bp(md){
				width:33.33334%;
			}
		}

	}
}

