.workbook2-mapping-page{
	@include bp(md){
		padding-top: 60pxi;
	}
}

.page-node-106{
	.workbook2-inpagenav{
		@include bp(md){
			@include absolute(-26pxi,-16pxi)
			width:100%;
		}
	}
}

.mapping-intro{
	&__header{
		position:static;

		h2 {
	        margin-bottom: 1.5rem !important;
	        text-align: center;
	   		color:$color-mapping !important;
	    }
	    img {
	        display: block;
	        margin: 0 auto 2rem;
	    }
	    p{
	    	@include bp(lg){
				width:600px;
				margin:0 auto 1rem;
			}
	    }
	}

	&__readmore{
		&-visible{
			padding-bottom:2rem;
		}
		&-button{
			font-family:inherit;
			padding:0;
			background:transparent;
			font-size:1rem;
			border-bottom:dotted 1px;
			border-radius:0;			
			font-weight:700;
			margin:0 auto;
			text-align:center;
			display:block;
			color:$color-mapping;

			&:hover{
				background:transparent;
				border-color:transparent;
			}

			&:active,
			&:focus{
				opacity:.8;
			}

			&--mapping{
			}
		}

		&-info-container{
			button{
				font-size:1rem;
				display:block;
				margin:0 auto .5rem;
			}
			p{
				margin: 0 0 1rem !important;
			}
		}
	}

	&__cta{
		margin:1rem auto 0 !important;
		padding:1.5rem !important;
		border-radius:4px;
		background:$color-mapping;
			
		@include bp(lg){
			width:600px;
		}
		p{
			text-align:center !important;
			font-size:1rem;
			font-family:Quicksand,sans-serif !important;
			font-weight:700;
			color:#fff;
			padding-left:0 !important;

			&:not(:first-child){
				margin-top:1rem;
				display:block;
			}
			
			a{
				color:#fff;
			}
		}
	}
}