.workbook2-mapping-page{
	@include bp(md){
		padding-top: 40pxi;
	}
}

.page-node-106{
	.workbook2-inpagenav{
		@include bp(md){
			@include absolute(-26pxi,-16pxi)
			width:100%;
		}
	}
}

.mapping-intro{
	&__header{
		position:static;

		h2 {
	        margin-bottom: 3rem !important;
	        text-align: center;
	   		color:$color-mapping !important;
	    }
	    img {
	        display: block;
	        margin: 0 auto;
	        max-height:40vh;
	        width:auto;
	    }
	    p{
	    	@include bp(lg){
				width:600px;
				margin:0 auto 1rem;
			}
	    }
	}

	&__readmore{
		&-visible{
			padding-bottom:2rem;
		}
		&-button{
			font-family:inherit;
			padding:0;
			background:transparent;
			font-size:1rem;
			border-bottom:dotted 1px;
			border-radius:0;			
			font-weight:700;
			margin:0 auto;
			text-align:center;
			display:block;
			color:$color-mapping;

			&:hover{
				background:transparent;
				border-color:transparent;
			}

			&:active,
			&:focus{
				opacity:.8;
			}

			&--mapping{
			}
		}

		&-info-container{
			max-width:600px;
			margin-left:auto;
			margin-right:auto;

			button{
				font-size:1rem;
				display:block;
				margin:0 auto .5rem;
			}
			p{
				margin: 0 0 1rem !important;
			}
		}
	}

	&__cta{
		margin:1rem auto 0 !important;
		padding:1.5rem !important;
		border-radius:4px;
		
		@include bp(md){
			box-shadow:$box-shadow-card;
			background:$color-mapping;
		}
		@include bp(lg){
			width:600px;
		}
		p{
			text-align:center !important;
			font-size:1rem;
			font-family:Quicksand,sans-serif !important;
			font-weight:700;
			color:$color-mapping;
			padding-left:0 !important;

			@include bp(md){
				color:#fff;
			}

			&:not(:first-child){
				margin-top:1rem;
				display:block;
			}
		}
	}
}

// map
.webform-component-sync-map {
	margin-bottom:0;
}

// legends
.page-node-106{
	.webform-component--existing-legend{
		margin-bottom:1rem;
		
		img{
			@include bp(md){
				max-width:61.875%;
			}
		}
		@include bp(md){
			width:100% !important;
			text-align:center;
		}
	}
}

//form
.page-node-106{
	form{
		padding-top:0;
	}
	.map{
		.left-map-title{
			font-family:Quicksand,sans-serif;
			font-weight:700;
			color:#fff;
		}
		.right-map-title{
			font-family:Quicksand,sans-serif;
			font-weight:700;
			color:#fff;
		}

		// title labels
		label:not(.option){
			color: $color-mapping;
			text-align:center;
			font-size:1rem !important;
			font-weight:700 !important;
			margin-bottom:.5rem !important;

			@include bp(md){
				position:relative;
				background:$color-mapping;
				color:#fff;
				border-radius:4px 4px 0 0;
				padding:1rem;
				min-height:0!important;
				margin-bottom:0 !important;
			}
		}
		.webform-component-textarea{
			padding:0;
			margin-bottom:2rem;

			@include bp(md){
				width:100%;
			}

			textarea{
				padding:1rem;
				
				&:focus,
				&:hover{
					@include bp(md){
						box-shadow:$box-shadow-card;
						transition:.3s box-shadow ease-in-out;
						transition:.3s box-shadow ease-in-out;
					}
				}
				&:focus{
					background:#fff;
				}
			}
		}

		.description{
			font-size:1rem;
		}
		input[type="submit"]{
			@include button--form;
			font-size:1rem !important;
			font-weight:700 !important;
			width:100%;

			@include bp(md){
				width:33.33334% !important;
				margin:0 auto;
			}
		}
	}
}
