/* -------------------------
fonts
--------------------------*/
.h2--workbook2{
	font-size:26px !important;
	line-height:1.2;
}

.p--workbook2-lead{
	font-size:1rem;
	line-height:1.75;
}

/* -------------------------
breadcrumb
--------------------------*/
.page-node-108,
.page-node-109,
.page-node-114,
.page-node-115{
	.breadcrumb{
		@include hide;
	}
}

/* -------------------------
h1
--------------------------*/
.page-node-108,
.page-node-109,
.page-node-114,
.page-node-115 { 
	h1.title{
		@include hide;
	}
}


/* -------------------------
in page nav
--------------------------*/
.page-node-114{
	.workbook2-inpagenav{
		@include bp(max-md){
			@include hide;
		}
		@include bp(md){
			@include absolute(-16pxi,-16pxi);
			background:#f8f8f8;
			width:calc(100% + 32pxi);
			padding:1rem;
			text-align:center;
			header{
				display:inline;
			}
			ul{
				display:inline;
				margin-left:0;
				padding-left:0;
				list-style:none;
			}
			li{
				display:inline-block;
				margin:0 0 0 1rem;
			}
		}
	}
}

/* -------------------------
idea wall specific
--------------------------*/
.node-type-bold-ideas{
	.node-bold-ideas > div:nth-child(2){
		margin-top:0 !important
	}

	.workbook2-inpagenav{
		@include bp(max-md){
			@include hide;
		}
		@include bp(md){
			@include absolute(-16pxi,-16pxi);
			background:#f8f8f8;
			width:calc(100% + 32pxi);
			padding:1rem;
			text-align:center;
			header{
				display:inline;
			}
			ul{
				display:inline;
				margin-left:0;
				padding-left:0;
				list-style:none;
			}
			li{
				display:inline-block;
				margin:0 0 0 1rem;
			}
		}
	}
	.title-background{
		display:none;
	}
	.share-links{
		width:150px;
		text-align:center;
		padding-left:0;
		display:block;
		margin:2rem auto 0;
	}
	.rate-widget-thumbs_up_custom .thumb-up{
		background:rgba(white,.5)
	}
}
