.workbook2-portal-page{
	@extend .workbook2-landing-page
}


.page-node-109{
	.workbook2-hero{
		background: transparent url('https://images.unsplash.com/photo-1478147427282-58a87a120781?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') no-repeat 50% 100%;
		background-size: cover;
	}
}


.portal-header{
	h2{
		margin-bottom:1.5rem !important;
		text-align:center;
		color: $color-orange !important;

		@include bp(md){
			margin-bottom:3rem !important;
		}
	}
	img{
		display:block;
		margin:0 auto 2rem;
	}
}

.portal-nav{
	ul{
		list-style:none;
		margin:0 !important;
		padding:0;
	}
}

.portal-nav__header{
	@include bp(lg){
		max-width:600px;
		margin-left:auto;
		margin-right:auto
	}
}

.portal-nav__instructions{
	font-size:1rem;
	text-align:center;
	color:$color-orange;
	font-family:Quicksand,sans-serif;
	font-weight:700;
	margin:1.5rem 0;
	box-shadow:$box-shadow-card;

	@include bp(md){
		background:$color-orange;
		color:#fff;
		margin:2rem 0 .5rem;
		padding:2rem;
		border-radius:4px;
		text-align:center;
	}
}

.portal-nav__svg{
	display:none;

	@include bp(md){
		display:block;
	}

	svg{
		line{
			stroke:$color-blue;
		}
		polyline{
			stroke:$color-blue;
		}
	}
}

.portal-nav__item{
	margin-bottom:2rem;

	@include bp(md){
		float:left;
		width:50%;
	}

	a{
		display:block;
		text-decoration:none;
		margin-bottom:1rem;

		@include bp(md){
			padding:1rem;
		}

		&:hover{
			@include bp(md){
				background:$color-orange;
				transition:.3s ease-in-out;
				
				span{
					color:#fff;
					transition:.3s ease-in-out;
				}
			}
		}

		span{
			font-family:Quicksand,sans-serif;
			font-weight:700;
			display:block;
			color:$color-orange;
			font-size:1rem;
			text-align:center;
			margin-bottom:.5rem;
		}
		img{
			display:block;
			margin:0 auto;
		}
	}
	p{
		text-align:center;
	}
}