.workbook2-strategies-page {
    @extend .workbook2-landing-page;

    margin-top:0;
    @include bp(md){
    	margin-top:4rem;
    }
}

.page-node-114{
	.workbook2-inpagenav{
		@include bp(md){
			@include absolute(-16pxi,-16pxi);
		}
	}
}

.strategies-header {
    h2 {
        margin-bottom: 1.5rem !important;
        text-align: center;
        color: $color-green !important;
        @include bp(md) {
            margin-bottom: 3rem !important;
        }
    }
    img {
        display: block;
        margin: 0 auto;
        max-height:40vh;
        width:auto;
    }
}

.strategies-header__description {
    @include bp(lg) {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

.strategies-header__instructions {
    font-family: Quicksand, sans-serif;
    font-weight:700;
    color: $color-green;
    text-align: center;
    font-size: 1rem;

    @include bp(md) {
        background: $color-green;
        color: #fff;
        margin: 2rem 0;
        padding: 2rem;
        border-radius: 4px;
        text-align: center;
        font-size: 1rem;
        box-shadow:$box-shadow-card;
    }

    @include bp(lg) {
        max-width: 600px;
        margin: 2rem auto;
    }
}

.strategies-nav {
    >ul {
        list-style: none;
        margin: 0;
        padding: 0;

     	@include bp(md){
     		@include flex(space-between, stretch);
     		flex-flow:row wrap;
     	}
    }
    .strategies-nav-item {
    	padding-bottom: 1rem;
    	margin-bottom:2rem;
    	background:#f8f8f8;
    	transition:.3s ease-in-out;

    	@include bp(md){
    		padding-bottom:0;
    		width:calc(50% - 1rem);
    		height:100%;
    		border-radius:4px;
    		overflow:hidden;
			box-shadow: $box-shadow-card;
        }

        @include bp(lg){
            padding-bottom:0;
            width:calc(33.33334% - 1.25rem);
        }

        &:hover{
            @include bp(md){
				.strategies-nav-item__img-wrapper{
					opacity:.8;
				}
			}
    	}		    	

        &--vibrantandcreative {
            color: $color-vibrantandcreative;

            &:hover{
            	@include bp(md){
            		background:$color-vibrantandcreative;
	            	color:#fff;
	            }
            }
        }
        &--formandconnection {
            color: $color-formandconnection;

            &:hover{
            	@include bp(md){
            		background:$color-formandconnection;
	            	color:#fff;
	            }
            }
        }
        &--housingandneighborhoods {
            color: $color-housingandneighborhoods;

            &:hover{
            	@include bp(md){
            		background:$color-housingandneighborhoods;
	            	color:#fff;
	            }
            }
        }
        &--opportunityandprosperity {
            color:$color-opportunityandprosperity;

            &:hover{
            	@include bp(md){
            		background:$color-opportunityandprosperity;
	            	color:#fff;
	            }
            }
        }
        &--servicesandfacilities {
            color: $color-servicesandfacilities;

            &:hover{
            	@include bp(md){
            		background:$color-servicesandfacilities;
	            	color:#fff;
	            }
            }
        }
        &--greenandresilient {
            color:$color-greenandresilient;

            &:hover{
            	@include bp(md){
            		background:$color-greenandresilient;
	            	color:#fff;
	            }
            }
        }

        a {
            text-decoration: none;
            color: inherit;
            display:block;
            height:100%;
            padding-bottom:1rem;
        }

        &__img-wrapper {
            display: block;
            background: no-repeat transparent url('http://unsplash.it/600/300?image=591') 50%;
            background-size: cover;
            min-height: 200px;
            margin-bottom: 2rem;
            transition:.3s opacity ease-in-out;

            @include bp(md) {
            	height:initial;
                margin-bottom: 0;
            }
        }

        &__description-title {
            h3 {
                text-align: center;
                color: inherit;
            }
        }
        &__description-wrapper {
            @include bp(md) {
                padding: 1.5rem;
                width: 100%;
                min-height:150px
            }
        }
        &__description-list {
            margin: 0 auto 0;
            padding: 0;
            color: inherit;
            text-align: center;
            @include bp(md) {
                width: 100%;
                margin: 0 0 0 0;
                text-align: left;
                padding-left:1rem;
            }
            li {
                display: inline-block;
                margin: .5rem 1rem;
                @include bp(md) {
                    display: list-item;
                    margin: 0;
                }
                &:not(:first-child) {
                    @include bp(md){
                    	margin: .25rem 0;
                    }
                }
            }
        }
    }
}
